# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Node.js / Yarn
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
dist

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/reports

# Miscellaneous
.orig
.DS_*
*.nupkg
